 .App {
  text-align: center;
 }

 .heading {
  color: black;
  font-family:'Gill Sans';
  font-size: 250%;
  font-style: italic;
  font-weight: bold;
 }

.home {
  padding-left: 25%;
  color: black;
  font-size: 140%;
  font-weight: bold;
}

.about {
  padding-left: 2.5%;
  color: black;
  font-size: 140%;
  font-weight: bold;
}

.service {
  padding-left: 2.5%;
  color: black;
  font-size: 140%;
  font-weight: bold;
}

.openingHours {
  padding-left: 2.5%;
  color: black;
  font-size: 140%;
  font-weight: bold;
}

.contact {
  padding-left: 2.5%;
  color: black;
  font-size: 140%;
  font-weight: bold;
}


/*  */
/*  */
.firstbackground{
  background-color:#f7f7f7;

}

.mainParagraph {
  text-align: center;
  font-family:'Gill Sans';
  color: black;
  font-size: 500%;
  font-weight: 400;
  padding-top: 8%;
}

.subParagraph {
  text-align: center;
  font-family:'Gill Sans';
  color: black;
  padding-top: 3%;
  font-size: 150%;
  font-weight: 550;
}

.descriptionParagraph {
  text-align: center;
  color: black;
  margin-top: 3%;
  font-size: 100%;
  font-weight: 400;
  padding-left: 27%;
  padding-right: 27%;
}

.loginsignupButton {
  padding-top: 3%;
  text-align: center;
}

.loginButtonMainpage {
  font-size: 110%;
  font-weight: 600;
  width: 8%;
  background-color: black;
  color: white;
  padding: 0.5%;
  border-color: #f7f7f7;
  border-style:double;
  border-width:thick;
}

.signupButtonMainpage {
  font-size: 100%;
  font-weight: 600;
  width: 8%;
  color: black;
  padding: 0.5%;
  border-color: black;
  border-style:double;
  border-width:thick;
}

.imageMainpage {
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  width: 100%;
  height: 500px;
}
/*  */
/*  */
.secondbackground {
  background-color:#f6d8cc;
  
}

.mainParagraphAbout {
  text-align: center;
  font-family:'Gill Sans';
  color: black;
  padding-top: 6%;
  font-size: 300%;
  font-weight: 450;
}

.subParagraphAbout {
  text-align: center;
  font-family:'Gill Sans';
  color: black;
  padding-top: 2%;
  font-size: 150%;
  font-weight: 200;
}

.descriptionParagraphAbout {
  text-align: center;
  color: black;
  padding-top: 2%;
  font-size: 100%;
  font-weight: 400;
  padding-left: 27%;
  padding-right: 27%;
  padding-bottom: 6%;
}
/*  */
/*  */
.thirdbackground {
  background-image: url("/src/image/background-2.jpg");
  background-size: 100%;
  
}

.mainParagraphService {
  text-align: center;
  font-family:'Gill Sans';
  padding-top: 8%;
  color: white;
  font-size: 350%;
  font-weight: 500;
}

.subParagraphService {
  text-align: center;
  font-family:'Gill Sans';
  padding-bottom: 8%;
  color:white;
  font-size: 150%;
  font-weight: 400;
}

.thirdbackground2 {
  background-color:white;
  padding-top: 4%;
  padding-bottom: 4%;
}

.first {
  padding-top: 6%;
  padding-bottom: 6%;
}

.serviceHeading {
  text-align: left;
  font-family:'Gill Sans';
  padding-left: 25%;
  font-size: 150%;
  font-weight: 600;
  color:black;
}

.serviceSubheading {
  text-align: left;
  padding-left: 25%;
  font-size: 110%;
  font-weight: 600;
  color: black;
}

.serviceParagraph {
  padding-left: 25%;
  padding-right: 20%;
  text-align: left;
  color: black;
}

/* .thirdbackground2 h3{
  color: red;
} */

/*  */
/*  */
.fourthbackground {
  background-color:#f7f7f7;

}

.mainParagraphOPH {
  text-align: center;
  font-family:'Gill Sans';
  color: black;
  padding-top: 8%;
  font-size: 160%;
  font-weight: 350;
}

.subParagraphOPH {
  text-align: center;
  font-family:'Gill Sans';
  color: black;
  padding-top: 2%;
  font-size: 140%;
  font-weight: 300;
}

.descriptionParagraphOPH {
  text-align: center;
  color: black;
  padding: 2%;
  font-size: 110%;
  font-weight: 350;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 8%;
}
/*  */
/*  */
.fifthbackground {
  background-color: white;
  padding-top: 5%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
}

.fifthcontain {
  background-color: #f6d8cc;
  width: 100%;
  background-image: url('/src/image/location.jpg');
  background-repeat: no-repeat;
  background-size: 55%;  
}

.mainParagraphContact {
  text-align: center;
  font-family:'Gill Sans';
  color: black;
  padding-left: 55%;
  padding-top: 6%;
  font-size: 280%;
  font-weight: 400;
  padding-bottom: 2%;

}

.addressContact {
  text-align: center;
  font-family:'Gill Sans';
  color: black;
  padding-left: 55%;
  font-size: 100%;
}

.lastaddressContact{
  text-align: center;
  font-family:'Gill Sans';
  color: black;
  padding-left: 55%;
  font-size: 100%;
  padding-bottom: 6%;
}

/*  */
/*  */
.nav-item > .active {
  border-bottom: 1px solid #333;
}

.navbar-item{
  position: fixed;
  text-align: center;
  width:100%;
  background-color: white;
}

.navbar-user{
  text-align: right;
  padding-top: 0.5%;
  padding-right: 10%;
}

/*  */
/*  */
.loginBackground {
  background-color: #E8E8E8;
}

.loginParagraph {
  padding-top: 10%;
  text-align: center;
  font-family:'Gill Sans';
  color: black;
  font-size: 300%;
  font-weight: 1000;
}

.subloginParagraph1 {
  text-align: center;
  font-size: 110%;
}

.emailBox {
  padding-top: 2.5%;
  text-align: center;
}

.passwordBox {
  padding-top: 2.5%;
  text-align: center;
}

.loginTextfield {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  font-size: 120%;
  width: 25%;
  border-radius: 20px;
  border-color: black;
  outline-style: none;
}

.submitBox {
  padding-top: 4%;
  text-align: center;
}

.loginSubmit {
  padding-top: 0.1%;
  padding-bottom: 0.3%;
  padding-left: 1%;
  font-size: 150%;
  font-weight: 700%;
  width: 12%;
  border-radius: 10px;
  border-color: black;
  outline-style: none;
  color: white;
  background-color: #3273DC;
}

.subloginParagraph2 {
  text-align: center;
  font-size: 110%;
  padding-bottom: 5%;
}
/*  */
/*  */

.allBox {
  text-align: center;
}

.Textfield-All{
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  font-size: 120%;
  width: 18%;
  border-radius: 20px;
  border-color: black;
  outline-style: none;
}

.S-line{
  padding-top: 2.5%;
}

.SE-line{
  padding-top: 2.0%;
  padding-right: 22%;
}

.SE-text{
  font-size: 120%;
  color: black;
}

/*  */
/*  */

.historyList {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  font-weight: bold;
}

.orderButton{
  text-align: right;
  padding-right: 10%;
}

.orderbackground {
  background-color: #E8E8E8;
  padding-top: 10%;
}

.pricebackground {
  background-color: #EAF7FF;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 120%;
  font-weight: 500;
  padding-bottom: 5%;
}

.headingorder {
  text-align: center;
  font-family:'Gill Sans';
  color: black;
  font-size: 200%;
  font-weight: 500;
}

.subheadingorder {
  text-align: center;
  font-family:'Gill Sans';
  color: black;
  font-size: 150%;
}

.paddingorder1 {
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 120%;
  font-weight: 500;
}

.paddingorder2 {
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 120%;
  font-weight: 500;
}

.paddingorder3{
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 120%;
  font-weight: 500;
}

.redrequir {
  color: red;
}

.paddingNow{
  padding-top: 5%;
}