 .App {
  text-align: center;
 }

 .heading {
  padding-left: 5%;
  color: black;
  font-family:'Gill Sans';
  font-size: 250%;
  font-style: italic;
  font-weight: bold;
 }

.home {
  padding-left: 40%;
  color: black;
  font-size: 140%;
  font-weight: bold;
}

.about {
  padding-left: 1%;
  color: black;
  font-size: 140%;
  font-weight: bold;
}

.service {
  padding-left: 1%;
  color: black;
  font-size: 140%;
  font-weight: bold;
}

.openingHours {
  padding-left: 1%;
  color: black;
  font-size: 140%;
  font-weight: bold;
}

.contact {
  padding-left: 1%;
  color: black;
  font-size: 140%;
  font-weight: bold;
}
/*  */
/*  */
.firstbackground{
  background-color:#f7f7f7;
  height: 650%;
}

.mainParagraph {
  text-align: center;
  font-family:'Gill Sans';
  color: black;
  font-size: 500%;
  font-weight: 400;
  padding-top: 5%;
}

.subParagraph {
  text-align: center;
  font-family:'Gill Sans';
  color: black;
  padding-top: 3%;
  font-size: 150%;
  font-weight: 550;
}

.descriptionParagraph {
  text-align: center;
  color: black;
  margin-top: 3%;
  font-size: 100%;
  font-weight: 400;
  padding-left: 29%;
  padding-right: 29%;
}

.loginsignupButton {
  text-align: center;
}

.loginButtonMainpage {
  font-size: 100%;
  font-weight: 600;
  width: 8%;
  background-color: black;
  color: white;
  padding: 0.5%;
  border-color: #f7f7f7;
  border-style:double;
  border-width:thick;
}

.signupButtonMainpage {
  font-size: 100%;
  font-weight: 600;
  width: 8%;
  color: black;
  padding: 0.5%;
  border-color: black;
  border-style:double;
  border-width:thick;
}

.imageMainpage {
  align-items: center;  
}
/*  */
/*  */
.secondbackground {
  background-color:#f6d8cc;
  height: 500px;
}

.mainParagraphAbout {
  text-align: center;
  font-family:'Gill Sans';
  color: black;
  margin-top: 50px;
  font-size: 50px;
  font-weight: 500;
  padding-top: 100px;
}

.subParagraphAbout {
  text-align: center;
  font-family:'Gill Sans';
  color: black;
  margin-top: 50px;
  font-size: 23px;
  font-weight: 200;
}

.descriptionParagraphAbout {
  text-align: center;
  color: black;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 400;
  padding-left: 520px;
  padding-right: 520px;
}
/*  */
/*  */
.thirdbackground {
  background-image: url("/src/image/background-1.jpg");
  height: 450px;
}

.mainParagraphService {
  text-align: center;
  font-family:'Gill Sans';
  padding-top: 160px;
  color: white;
  font-size: 50px;
  font-weight: 500;
}

.subParagraphService {
  text-align: center;
  font-family:'Gill Sans';
  padding-top: 0px;
  color:white;
  font-size: 23px;
  font-weight: 300;
}

.thirdbackground2 {
  background-color: gray;
  padding-top: 500px;
  padding-bottom: 50px;
  color: black;
}
/*  */
/*  */
.fourthbackground {
  background-color:#f7f7f7;
  height: 500px;
}

.mainParagraphOPH {
  text-align: center;
  font-family:'Gill Sans';
  color: black;
  margin-top: 50px;
  font-size: 30px;
  font-weight: 500;
  padding-top: 100px;
}

.subParagraphOPH {
  text-align: center;
  font-family:'Gill Sans';
  color: black;
  margin-top: 50px;
  font-size: 25px;
  font-weight: 300;
}

.descriptionParagraphOPH {
  text-align: center;
  color: black;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 400;
  padding-left: 520px;
  padding-right: 520px;
}
/*  */
/*  */
.nav-item > .active {
  border-bottom: 1px solid #333;
}

.navbar-item{
  position: fixed;
  width:100%;
  background-color: white;
}

/* .imageMainpage {
  background-size: ;
} */